body {
    background-color: #ffffff;
    color: #212121;    
}

.logo-link {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;       
    letter-spacing: 0.03em;
}

span {
    color: #2196F3;
}

/* основной цвет текста color: #212121; */
/* вторичный цвет текста color: #757575; */
/* акцент color: #2196F3; */